html,body{margin:0;width:100%;min-height:100%}
#full{transition:all .5s ease-out;position:fixed;padding:13px 15px 10px;background-color:#ccc;font:100%/120% Aria,Helvetica,sans-serif;font-weight:bold;right:20px;top:20px;opacity:.5;font-size:20px;width:100px;text-align:center;cursor:pointer;z-index:1000000;}
#full:hover{background-color:#3d5cc7;color:#fff}
#full.activated{opacity:.03}
#full.activated:hover{opacity:1}
#author-area{font:100%/120% Aria,Helvetica,sans-serif;position:absolute;display:none;width:40%;height:100%;background-color:#efefef;box-shadow:5px 0 10px rgba(0,0,0,0.1);opacity:.9;top:0;left:0;z-index:100000}
#edit{border:0;background-color:transparent;width:100%;height:90%;outline:none;resize:none;box-sizing:border-box;font:100%/120% Aria,Helvetica,sans-serif;font-size:20px;font-family:arial;padding:2em}
#tools{font-size:20px;font-weight:bold;line-height:44px}
#slots{height:40px;width:100%;background-color:#bdd4de;display:flex}
#slots-list{height:40px;background-color:color_slots_active;display:flex}
#new-slot{background-color:#373479;color:#bdd4de;line-height:40px}
.slot{cursor:pointer;width:40px;height:40px;text-align:center;align-items:center;}
.slot:nth-child(2n + 1){background-color:#a2c2d0}
.slot.active{background-color:#375d6e;color:#bdd4de}
#impress-org{display:none}
.slide{transition:all .5s ease-out;}
.slide .inner{display:flex;align-items:center}
.slide img,.slide object{padding-left:.8em;max-height:4em}
.slide.past{opacity:.15}
.slide:nth-child(2n + 1) .inner{flex-direction:row-reverse;}
.slide:nth-child(2n + 1) .inner img,.slide:nth-child(2n + 1) .inner object{padding-left:0;padding-right:.8em}
.field-row{display:flex;}
.field-row .field{flex:1;display:flex;padding-right:1em;}
.field-row .field:last-child{padding-right:0}
.field{flex:1;display:flex;}
.field label{min-width:100px}
.field input{min-width:50px;flex:1}
.field select{margin-left:.3em;margin-top:5px;font-size:1.7em;flex:1}
.save-bar{float:right}
