
colorTurquoise = #1ABC9C
colorTurquoiseDark = #16A085

colorEmerland = #2ECC71
colorEmerlandDark = #27AE60

colorPeterRiver = #3498DB
colorPeterRiverDark = #2980B9

colorAmethyst = #9B59B6
colorAmethystDark = #8E44AD

colorWetAsphalt = #34495E
colorWetAsphaltDark = #2C3E50

colorSunflower = #F1C40F
colorSunflowerDark = #F39C12

colorCarrot = #E67E22
colorCarrotDark = #D35400

colorAlizarin = #E74C3C
colorAlizarinDark = #C0392B

colorCloud = #ECF0F1
colorCloudDark = #BDC3C7

colorConcrete = #95A5A6
colorConcreteDark = #7F8C8D


.color-turquoise
    color colorTurquoise

.color-alizarin
    color colorAlizarin

.color-carrot
    color colorCarrot
    &.dark
        color colorCarrotDark


.fill-turquoise
    fill colorTurquoise
    &.dark
        fill colorTurquoiseDark

.fill-emerald
    fill colorEmerland
    &.dark
        fill colorEmerlandDark

.fill-peter-river
    fill colorPeterRiver
    &.dark
        fill colorPeterRiverDark

.fill-amethyst
    fill colorAmethyst
    &.dark
        fill colorAmethystDark

.fill-carrot
    fill colorCarrot
    &.dark
        fill colorCarrotDark

.fill-concrete
    fill colorConcrete
    &.dark
        fill colorConcreteDark

.fill-alizarin
    fill colorAlizarin
    &.dark
        fill colorAlizarinDark


