
vendor(prop, args)
    -webkit-{prop} args
    -moz-{prop} args
    {prop} args

display-box()
    display box
    display -webkit-box

box-flex()
    vendor('box-flex', arguments)

perspective()
    vendor('perspective', arguments)

transform()
    vendor('transform', arguments)

transform-style()
    vendor('transform-style', arguments)

box-orient()
    vendor('box-orient', arguments)

box-sizing()
    vendor('box-sizing', arguments)

transition()
    vendor('background-size', arguments)

transition()
    vendor('transition', arguments)

column-count()
    vendor('column-count', arguments)

column-gap()
    vendor('column-gap', arguments)

