@import '../base/css/base.styl'

body
    background #ccc url('../base/images/1001back.png') no-repeat
    background-size cover
    color #222
    mainFont()
    text-transform lowercase
    font-family 'Raleway', sans-serif;
    #contact:before
        margin-top 2px

    #logo
        background url('../../base/images/1001logo.png') no-repeat
        background-size contain
        width 120px
        height 45px
        position absolute
        bottom 20px
        right 20px
